@keyframes hover-animation {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
@keyframes hover-translate {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(10px);
  }
}
