.assortment {
  margin-bottom: 150px;
}

.assortment__list {
  text-align: center;
  display: flex;
  gap: 0 40px;
}
.assortment__item {
}
.assortment__img {
  max-width: 208px;
  max-height: 208px;
  width: 100%;
}
.assortment__name {
  padding-top: 10px;
  font-family: Cormorant;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
