.menu__close {
  display: none;
}
@media (max-width: 860px) {
  .menu__close {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
  }
  .close-link {
    display: block;
  }
  .close-btn {
    position: relative;
    cursor: pointer;
  }
  .close-btn img {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}
