.footer {
}
.footer__wraper {
  position: relative;
  background: #f7f2ea;
  padding: 50px 0px 84px 0px;
}
.footer__grid-block {
}
.footer__navigation {
  margin-bottom: 50px;
}
.navigation-block {
  color: #151618;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.navigation-block__title {
  font-family: Cormorant;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 30px;
}
.navigation-block__list {
}
.navigation-block__list-item:not(:last-child) {
  margin-bottom: 20px;
}
.link-footer-navigation {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  white-space: nowrap;
}

.bloqoute-block__text {
  font-family: Open Sans;
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 10px;
}
.bloquote-block__author {
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 50px;
}
.instruction-block {
  color: #151618;
}
.instruction-block__title {
  margin-bottom: 20px;
  text-align: center;
  font-family: Cormorant;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
}
.instruction-block__instruction {
  text-align: center;
  font-family: Open Sans;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 20px;
}

.contacts {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 42px 30px;
}
.contacts__logo {
  width: 57px;
  height: 91px;
}
.contacts__logo img {
  max-width: 100%;
}
.contacts__list {
}
.contacts__list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.contacts__list-item:not(:last-child) {
  margin-bottom: 10px;
}
.link-contact {
  display: block;
  color: #151618;
  font-family: Open Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.contacts__socials {
  /*  margin-top: 42px; */
}
.socials {
  display: flex;
  gap: 20px;
}
.socials__item {
}
.link-social {
}

.paiment-block {
  position: absolute;
  bottom: 0;
  left: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 53px;
}
.contacts-block__paiment {
}
.paiment-block__owner {
}
.owner {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}
.paiment-block__systems {
}
.paiment-systems-list {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}
.paiment-systems-list__item {
  width: 26px;
  height: 20px;
  position: relative;
  cursor: pointer;
}
.paiment-systems-list__item img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 5%;
  left: 0;
}
