
.footer__wraper {
  position: relative;
  background: #f7f2ea;
  padding: 50px 0px 84px 0px;
}
.footer__navigation {
  margin-bottom: 50px;
}
.navigation-block {
  color: #151618;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.navigation-block__title {
  margin-bottom: 30px;
}
.navigation-block__list-item:not(:last-child) {
  margin-bottom: 20px;
}
.bloqoute-block__text {
  margin-bottom: 10px;
}
.bloquote-block__author {
  margin-bottom: 50px;
}
.instruction-block {
  color: #151618;
}
.instruction-block__title {
	text-align: center;
  margin-bottom: 20px;
}
.instruction-block__instruction {
  text-align: center;
  margin-bottom: 20px;
}
.contacts {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 42px 30px;
}
.contacts__logo {
  width: 57px;
  height: 91px;
}
.contacts__logo img {
  max-width: 100%;
}
.contacts__list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.contacts__list-item:not(:last-child) {
  margin-bottom: 10px;
}
.socials {
  display: flex;
  gap: 20px;
}
.paiment-block {
  position: absolute;
  bottom: 0;
  left: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 53px;
}
.paiment-systems-list {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}
.paiment-systems-list__item {
  width: 26px;
  height: 20px;
  position: relative;
  cursor: pointer;
}
.paiment-systems-list__item img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 5%;
  left: 0;
}
