.footer {
}
.footer-wraper {
  background: #f7f2ea;
  padding: 50px 0px 84px 0px;
}

.navigation-block {
  color: #151618;
}
.navigation-block__title {
  font-family: Cormorant;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
}
.navigation-block__list {
}
.navigation-block__list-item {
}
.link-footer-navigation {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}
.bloqoute-block {
}
.bloqoute-block__text {
  font-family: Open Sans;
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
  line-height: 1.5;
}
.bloquote-block__author {
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.5;
}
.contacts-block {
  color: #151618;
}
.contacts-block__title {
  text-align: center;
  font-family: Cormorant;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
}
.contacts-block__instruction {
  text-align: center;
  font-family: Open Sans;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.5;
}
.logo-contacts {
  width: 57px;
  height: 91px;
}
.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contacts-block__contacts {
}
.contacts__phone {
}
.block-contacts {
  display: flex;
}
.icon-phone {
  width: 21px;
  height: 21px;
}
.contacts-link {
  color: #151618;
  font-family: Open Sans;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.5;
}
.contacts__mail {
}
.socials {
}
.contacts-block__socials {
  margin: 0px auto 50px auto;
}
.socials__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.socials__list-item {
  position: relative;
  width: 20px;
  height: 20px;
}
.icon-socials {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
}
.paiment-block {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 53px;
}
.contacts-block__paiment {
}
.paiment-block__owner {
}
.owner {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}
.paiment-block__systems {
}
.paiment-systems-list {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}
.paiment-systems-list__item {
  width: 26px;
  height: 20px;
  position: relative;
  cursor: pointer;
}
.paiment-systems-list__item img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 5%;
  left: 0;
}
