.mail-input {
  width: 100%;
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #b8b58b;
  min-width: 202px;
  padding: 0px 20px 0px 20px;
  color: #b8b58b;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 300;
  line-height: 150%;
  margin-right: 20px;
}

.mail-button {
  padding: 12px 41px;
}
