.header {
}
.container {
}
.header__inner {
  display: flex;
  justify-content: space-between;
  max-height: 140px;
  align-items: center;
  padding: 30px 0px;
}
.logo {
	display: block;
	position: relative;
	height: 80px;
  	margin-bottom: 35px;
}
.logo img{
	margin: 0 auto;
	position: absolute;
	top: 0;
	left: 0;
}

.menu {
}

.menu__list {
  display: flex;
  align-items: center;
  gap: 0 65px;
  font-weight: 400;
  font-size: 18px;
  margin-left: 85px;
}

.user-actions {
  display: flex;
  align-items: flex-start;
  gap: 0 20px;
  line-height: 0.5;
  min-width: 180px;
  min-height: 29px;
}
.user-actions__item{
	display:block;
	height: 100%;
}
.user-actions__item:not(:last-child) {
	margin-right: 20px;
}
.user-actions__item-search {
  margin-left: 80px;
}
.user-actions__link {
	display: block;
	position: relative;
}
.user-actions__link img{
	position: absolute;
	top: 0;
	left: 0;
}
