.know-more {
}

.know-more__wrapper {
}
.know-more__title {
	text-align: left;
}

.know-more__content {
}
.content-text {
	color:  #151618;
	font-family: Open Sans;
	font-size: 20px;
	font-weight: 300;
	line-height: 150%; 
}
.content-text__text {
}
.content-form {
}
