@media (max-width: 1000px) {
  .user-actions {
    min-width: 130px;
  }
  .user-actions__item-search {
    margin-left: 30px;
  }
  .menu {
    margin-right: auto;
  }
  .header__inner {
    min-height: auto;
  }
  .blockquote__text {
    margin-top: 120px;
    margin-bottom: 135px;
  }
  .assortment__list {
    gap: 0;
  }
  .assortment {
    margin-bottom: 120px;
  }
  .assortment__title {
    margin-bottom: 30px;
  }
  .reviews {
    margin-bottom: 120px;
  }

  .reviews__list {
    grid-template-columns: repeat(3, 1fr);
  }
  .reviews__item:last-child {
    display: none;
  }
}
@media (max-width: 860px) {
  .menu__list {
    /* display: none; */
    display: block;
    position: absolute;
    top: -200%;
    transition: all 0.5s ease 0.5s;
    left: calc(50% - 360px / 2);
    text-align: center;
    width: 360px;
    margin: 0 auto;
    background-color: #fff;
    padding-top: 60px;
    min-height: 691px;
    z-index: 5;
  }
  .menu__link {
    font-family: Cormorant;
    font-size: 24px;
  }
  .burger {
    display: block;
  }
  .menu {
    order: -1;
    margin-right: 0;
  }
  .logo {
    margin-left: auto;
    margin-right: auto;
  }
  .menu__item:not(:last-child) {
    margin-bottom: 30px;
  }

  .mobile-nav::before {
    content: "";
    display: block;
    height: 1px;
    width: 300px;
    margin: 60px 30px 60px 30px;
    background: #000;
  }
  .mobile-menu__item:not(:last-child) {
    margin-bottom: 35px;
  }
  .mobile-menu__item:last-child {
    margin-bottom: 60px;
  }
  .blog__posts {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 30px;
    margin-bottom: 72px;
    padding: 0px 44px 0px 44px;
  }
  .blog__posts-item:nth-child(even) {
    justify-self: end;
  }
}
@media (max-width: 768px) {
  .header__inner {
    padding-left: 44px;
    padding-right: 44px;
  }

  .blockquote__text {
    max-width: 640px;
  }
  .assortment__list {
    flex-wrap: wrap;
    justify-content: center;
  }
  .reviews__list {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 76px;
    justify-items: center;
  }
  .reviews__item:last-child {
    display: block;
  }
  .blog {
    margin-bottom: 180px;
  }
}
@media (max-width: 680px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .header__inner {
    padding: 10px 0px;
  }
  .top__title {
    font-size: 40px;
    line-height: normal;
  }
  .blockquote__text {
    font-size: 16px;
    max-width: 376px;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .blog__posts {
    padding: 0px;
  }
  .blog__posts-item:nth-child(even) {
    justify-self: center;
  }
  .blog__posts-item {
    justify-self: center;
  }
  .post__image {
    max-width: 230px;
    min-height: 153px;
  }
}
@media (max-width: 480px) {
  .logo {
    margin: 0 auto;
  }
  .logo img {
    width: 39px;
  }
  .user-actions__link img {
    height: 22px;
    width: 18px;
  }
  .assortment {
    margin-bottom: 60px;
  }
  .reviews {
    margin-bottom: 60px;
  }
  .reviews__list {
    gap: 20px;
  }
  .blog {
    margin-bottom: 110px;
  }
}
@media (max-width: 360px) {
  .user-actions__item-search {
    margin-left: 0px;
  }
  .top__title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .top__text {
    font-size: 13px;
    margin-bottom: 30px;
  }
  .top__inner {
    min-height: 367px;
  }
  .blockquote__text {
    max-width: 340px;
    margin-top: 70px;
    margin-bottom: 80px;
  }
  .user-actions {
    min-width: 100px;
  }
  .assortment {
    margin-bottom: 80px;
  }
  .title-block {
    font-size: 24px;
  }
  .assortment__title {
    margin-bottom: 0px;
  }
  .assortment__img {
    max-width: 170px;
  }
  .reviews__list {
    grid-template-columns: repeat(1, 1fr);
  }
  .reviews__item:last-child,
  .reviews__item:nth-child(2) {
    display: none;
  }
  .blog {
    margin-bottom: 100px;
  }
  .blog__posts {
    margin-bottom: 30px;
  }
  .post {
    flex-direction: column;
  }
  .post__image {
    max-width: 100%;
    min-height: 170px;
  }
}

@media (min-width: 480px) {
  .prioritise__wrapper {
    padding: 60px 0px 60px 0px;
  }
  .prioritise__list-item:not(:last-child) {
    margin-bottom: 50px;
  }
  .title-item {
    font-size: 30px;
  }
  .subtitle-item {
    font-size: 20px;
    font-weight: 600;
  }
  .prioritise__item-subtitle {
    margin-bottom: 40px;
  }
}

@media (min-width: 768px) {
  .know-more__title {
    margin-bottom: 60px;
  }
  .know-more__wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .content-text__text {
    margin-bottom: 60px;
  }
  .content-text {
    font-size: 20px;
  }
  .prioritise__wrapper {
    padding: 120px 0px 120px 0px;
  }
  .prioritise__title {
    margin-bottom: 60px;
  }
  .prioritise__list-item:not(:last-child) {
    margin-bottom: 0px;
  }
  .prioritise__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px 133px;
  }

  .navigation-block {
    grid-area: A;
  }

  .bloqoute-block {
    grid-area: B;
  }
  .instruction-block {
    grid-area: C;
  }
  .contacts {
    grid-area: D;
  }
  .footer__grid-block {
    display: grid;
    grid-template-areas:
      "A B"
      "A C"
      "A D";
    padding: 0px 54px 0px 54px;
  }
  .navigation-block__title {
    margin-bottom: 50px;
  }
  .footer__navigation {
    margin-right: 67px;
  }
  .bloquote-block__author {
    max-width: 129px;
  }
  .instruction-block__title {
    margin-bottom: 50px;
  }
}
@media (min-width: 1000px) {
  .mail-form {
    max-width: 780px;
    margin: 0 auto;
  }
  .verification-block__text {
    margin: 0 auto;
  }
  .footer__grid-block {
    display: grid;
    grid-template-areas:
      "A B C"
      "A B D";
    grid-template-rows: auto 1fr;
    padding: 0px 10px 0px 10px;
    column-gap: 53px;
  }
  .instruction-block {
    justify-items: start;
  }
  .instruction-block__title,
  .instruction-block__instruction {
    text-align: left;
  }
  .instruction-block__instruction {
    margin-bottom: 20px;
    max-width: 270px;
  }
  .contacts {
    align-items: start;
    justify-items: start;
    justify-content: flex-start;
    gap: 0px 30px;
  }
  .contacts__socials {
    align-self: flex-start;
    margin-left: 100px;
    margin-top: -30px;
  }
}
@media (min-width: 1100px) {
  .know-more__content {
    display: flex;
    gap: 40px;
    align-items: flex-end;
  }
  .content-text__text {
    margin-bottom: 0;
  }
  .know-more__title {
    text-align: left;
  }
  .annotation-text {
    text-align: left;
  }
  .prioritise__wrapper {
    padding: 150px 0px 150px 0px;
  }
  .prioritise__list {
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
  }
  .footer__grid-block {
    column-gap: 41px;
  }
  .bloqoute-block {
    max-width: 270px;
    margin-top: -60px;
    align-self: center;
  }
  .navigation-block {
    margin-right: 114px;
    column-gap: 213px;
  }
}
