@media(max-width:1000px){
	.user-actions__item-search {
		margin-left: 30px;
		
	 }
	 .menu{
		margin-right: auto;
	 }
	 .menu__list {
		margin-left: 60px;
		
	 }
	 .header__inner {
		min-height: auto;
	 }
	 .blockquote__text{
		margin-top: 120px;
		margin-bottom: 135px;
	 }
}
@media(max-width:860px){
	.menu__list {
		display:none;
		
	 }
	 .burger{
		display: block;
	 }
	 .menu{
		order: -1;
		margin-right: 0;
	 }
	 .logo {
		margin-left: auto;
		margin-right: auto;
	 }
}
@media(max-width:768px){
	.header__inner{
		padding-left: 64px;
		padding-right: 64px;
	}
	.logo {
		margin-right: 154px;
	 }
}
@media(max-width:480px){}
@media(max-width:360px){}