@media(max-width:1000px){
	.user-actions__item-search {
		margin-left: 30px;
		
	 }
	 .menu{
		margin-right: auto;
	 }
	 .menu__list {
		margin-left: 60px;
		
	 }
	 .header__inner {
		min-height: 105px;
	 }
	 .blockquote__text{
		margin-top: 120px;
		margin-bottom: 135px;
	 }
}
@media(max-width:860px){
	.menu__list {
		display:none;
		
	 }
	 .burger{
		display: block;
	 }
}
@media(max-width:768px){}
@media(max-width:480px){}
@media(max-width:360px){}