.mobile-menu__link {
  display: block;
  font-family: Open Sans;
  font-size: 13px;
  font-weight: 300;
  line-height: normal;
}
.mobile-actions {
  height: 60px;
  background: #f7f2ea;
  padding: 19px 81px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.mobile-nav {
  display: none;
}
.mobile-nav.active {
  display: block;
}
