html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
.container {
  max-width: 1240px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}
body {
  position: relative;
  color: #151618;
  font-weight: 300;
  /* font-family: "Cormorant", serif; */
  font-family: "Open Sans", sans-serif;
}
.title-block {
  text-align: center;
  font-family: Cormorant;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.annotation-text {
  color: #151618;
  font-family: Open Sans;
  font-weight: 300;
  line-height: 1, 5;
}
